<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="DisCatSharp Rule Set" Description=" " ToolsVersion="17.0">
  <Rules AnalyzerId="DisCatSharp.Analyzer" RuleNamespace="DisCatSharp.Analyzer">
    <Rule Id="DCS0001" Action="Hidden" />
    <Rule Id="DCS0002" Action="Hidden" />
    <Rule Id="DCS0101" Action="Hidden" />
    <Rule Id="DCS0102" Action="Hidden" />
    <Rule Id="DCS0103" Action="Hidden" />
    <Rule Id="DCS0200" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26100" Action="Warning" />
    <Rule Id="C26101" Action="Warning" />
    <Rule Id="C26102" Action="Warning" />
    <Rule Id="C26105" Action="Warning" />
    <Rule Id="C26106" Action="Warning" />
    <Rule Id="C26110" Action="Warning" />
    <Rule Id="C26111" Action="Warning" />
    <Rule Id="C26112" Action="Warning" />
    <Rule Id="C26115" Action="Warning" />
    <Rule Id="C26116" Action="Warning" />
    <Rule Id="C26117" Action="Warning" />
    <Rule Id="C26130" Action="Warning" />
    <Rule Id="C26135" Action="Warning" />
    <Rule Id="C26136" Action="Warning" />
    <Rule Id="C26137" Action="Warning" />
    <Rule Id="C26138" Action="Warning" />
    <Rule Id="C26140" Action="Warning" />
    <Rule Id="C26160" Action="Warning" />
    <Rule Id="C26165" Action="Warning" />
    <Rule Id="C26166" Action="Warning" />
    <Rule Id="C26167" Action="Warning" />
    <Rule Id="C26400" Action="Warning" />
    <Rule Id="C26401" Action="Warning" />
    <Rule Id="C26402" Action="Warning" />
    <Rule Id="C26403" Action="Warning" />
    <Rule Id="C26404" Action="Warning" />
    <Rule Id="C26405" Action="Warning" />
    <Rule Id="C26406" Action="Warning" />
    <Rule Id="C26407" Action="Warning" />
    <Rule Id="C26408" Action="Warning" />
    <Rule Id="C26409" Action="Warning" />
    <Rule Id="C26410" Action="Warning" />
    <Rule Id="C26411" Action="Warning" />
    <Rule Id="C26414" Action="Warning" />
    <Rule Id="C26415" Action="Warning" />
    <Rule Id="C26416" Action="Warning" />
    <Rule Id="C26417" Action="Warning" />
    <Rule Id="C26418" Action="Warning" />
    <Rule Id="C26426" Action="Warning" />
    <Rule Id="C26427" Action="Warning" />
    <Rule Id="C26429" Action="Warning" />
    <Rule Id="C26430" Action="Warning" />
    <Rule Id="C26431" Action="Warning" />
    <Rule Id="C26432" Action="Warning" />
    <Rule Id="C26433" Action="Warning" />
    <Rule Id="C26434" Action="Warning" />
    <Rule Id="C26435" Action="Warning" />
    <Rule Id="C26436" Action="Warning" />
    <Rule Id="C26437" Action="Warning" />
    <Rule Id="C26438" Action="Warning" />
    <Rule Id="C26439" Action="Warning" />
    <Rule Id="C26440" Action="Warning" />
    <Rule Id="C26441" Action="Warning" />
    <Rule Id="C26443" Action="Warning" />
    <Rule Id="C26444" Action="Warning" />
    <Rule Id="C26445" Action="Warning" />
    <Rule Id="C26446" Action="Warning" />
    <Rule Id="C26447" Action="Warning" />
    <Rule Id="C26448" Action="Warning" />
    <Rule Id="C26449" Action="Warning" />
    <Rule Id="C26450" Action="Warning" />
    <Rule Id="C26451" Action="Warning" />
    <Rule Id="C26452" Action="Warning" />
    <Rule Id="C26453" Action="Warning" />
    <Rule Id="C26454" Action="Warning" />
    <Rule Id="C26455" Action="Warning" />
    <Rule Id="C26456" Action="Warning" />
    <Rule Id="C26458" Action="Warning" />
    <Rule Id="C26459" Action="Warning" />
    <Rule Id="C26460" Action="Warning" />
    <Rule Id="C26461" Action="Warning" />
    <Rule Id="C26462" Action="Warning" />
    <Rule Id="C26463" Action="Warning" />
    <Rule Id="C26464" Action="Warning" />
    <Rule Id="C26465" Action="Warning" />
    <Rule Id="C26466" Action="Warning" />
    <Rule Id="C26471" Action="Warning" />
    <Rule Id="C26472" Action="Warning" />
    <Rule Id="C26473" Action="Warning" />
    <Rule Id="C26474" Action="Warning" />
    <Rule Id="C26475" Action="Warning" />
    <Rule Id="C26476" Action="Warning" />
    <Rule Id="C26477" Action="Warning" />
    <Rule Id="C26478" Action="Warning" />
    <Rule Id="C26479" Action="Warning" />
    <Rule Id="C26481" Action="Warning" />
    <Rule Id="C26482" Action="Warning" />
    <Rule Id="C26483" Action="Warning" />
    <Rule Id="C26485" Action="Warning" />
    <Rule Id="C26486" Action="Warning" />
    <Rule Id="C26487" Action="Warning" />
    <Rule Id="C26488" Action="Warning" />
    <Rule Id="C26489" Action="Warning" />
    <Rule Id="C26490" Action="Warning" />
    <Rule Id="C26491" Action="Warning" />
    <Rule Id="C26492" Action="Warning" />
    <Rule Id="C26493" Action="Warning" />
    <Rule Id="C26494" Action="Warning" />
    <Rule Id="C26495" Action="Warning" />
    <Rule Id="C26496" Action="Warning" />
    <Rule Id="C26497" Action="Warning" />
    <Rule Id="C26498" Action="Warning" />
    <Rule Id="C26800" Action="Warning" />
    <Rule Id="C26810" Action="Warning" />
    <Rule Id="C26811" Action="Warning" />
    <Rule Id="C26812" Action="Warning" />
    <Rule Id="C26813" Action="Warning" />
    <Rule Id="C26814" Action="Warning" />
    <Rule Id="C26815" Action="Warning" />
    <Rule Id="C26816" Action="Warning" />
    <Rule Id="C26817" Action="Warning" />
    <Rule Id="C26818" Action="Warning" />
    <Rule Id="C26819" Action="Warning" />
    <Rule Id="C26820" Action="Warning" />
    <Rule Id="C26821" Action="Warning" />
    <Rule Id="C26822" Action="Warning" />
    <Rule Id="C26823" Action="Warning" />
    <Rule Id="C26824" Action="Warning" />
    <Rule Id="C26825" Action="Warning" />
    <Rule Id="C26826" Action="Warning" />
    <Rule Id="C26827" Action="Warning" />
    <Rule Id="C26828" Action="Warning" />
    <Rule Id="C26829" Action="Warning" />
    <Rule Id="C26830" Action="Warning" />
    <Rule Id="C26846" Action="Warning" />
    <Rule Id="C26847" Action="Warning" />
    <Rule Id="C26848" Action="Warning" />
    <Rule Id="C26849" Action="Warning" />
    <Rule Id="C28020" Action="Warning" />
    <Rule Id="C28021" Action="Warning" />
    <Rule Id="C28022" Action="Warning" />
    <Rule Id="C28023" Action="Warning" />
    <Rule Id="C28024" Action="Warning" />
    <Rule Id="C28039" Action="Warning" />
    <Rule Id="C28101" Action="Warning" />
    <Rule Id="C28103" Action="Warning" />
    <Rule Id="C28104" Action="Warning" />
    <Rule Id="C28105" Action="Warning" />
    <Rule Id="C28106" Action="Warning" />
    <Rule Id="C28107" Action="Warning" />
    <Rule Id="C28108" Action="Warning" />
    <Rule Id="C28109" Action="Warning" />
    <Rule Id="C28110" Action="Warning" />
    <Rule Id="C28111" Action="Warning" />
    <Rule Id="C28112" Action="Warning" />
    <Rule Id="C28113" Action="Warning" />
    <Rule Id="C28114" Action="Warning" />
    <Rule Id="C28120" Action="Warning" />
    <Rule Id="C28121" Action="Warning" />
    <Rule Id="C28122" Action="Warning" />
    <Rule Id="C28123" Action="Warning" />
    <Rule Id="C28124" Action="Warning" />
    <Rule Id="C28125" Action="Warning" />
    <Rule Id="C28126" Action="Warning" />
    <Rule Id="C28127" Action="Warning" />
    <Rule Id="C28128" Action="Warning" />
    <Rule Id="C28129" Action="Warning" />
    <Rule Id="C28131" Action="Warning" />
    <Rule Id="C28132" Action="Warning" />
    <Rule Id="C28133" Action="Warning" />
    <Rule Id="C28134" Action="Warning" />
    <Rule Id="C28135" Action="Warning" />
    <Rule Id="C28137" Action="Warning" />
    <Rule Id="C28138" Action="Warning" />
    <Rule Id="C28141" Action="Warning" />
    <Rule Id="C28143" Action="Warning" />
    <Rule Id="C28144" Action="Warning" />
    <Rule Id="C28145" Action="Warning" />
    <Rule Id="C28146" Action="Warning" />
    <Rule Id="C28147" Action="Warning" />
    <Rule Id="C28150" Action="Warning" />
    <Rule Id="C28151" Action="Warning" />
    <Rule Id="C28152" Action="Warning" />
    <Rule Id="C28153" Action="Warning" />
    <Rule Id="C28156" Action="Warning" />
    <Rule Id="C28157" Action="Warning" />
    <Rule Id="C28158" Action="Warning" />
    <Rule Id="C28159" Action="Warning" />
    <Rule Id="C28160" Action="Warning" />
    <Rule Id="C28161" Action="Warning" />
    <Rule Id="C28162" Action="Warning" />
    <Rule Id="C28163" Action="Warning" />
    <Rule Id="C28164" Action="Warning" />
    <Rule Id="C28165" Action="Warning" />
    <Rule Id="C28166" Action="Warning" />
    <Rule Id="C28167" Action="Warning" />
    <Rule Id="C28168" Action="Warning" />
    <Rule Id="C28169" Action="Warning" />
    <Rule Id="C28170" Action="Warning" />
    <Rule Id="C28171" Action="Warning" />
    <Rule Id="C28172" Action="Warning" />
    <Rule Id="C28173" Action="Warning" />
    <Rule Id="C28175" Action="Warning" />
    <Rule Id="C28176" Action="Warning" />
    <Rule Id="C28182" Action="Warning" />
    <Rule Id="C28183" Action="Warning" />
    <Rule Id="C28193" Action="Warning" />
    <Rule Id="C28194" Action="Warning" />
    <Rule Id="C28195" Action="Warning" />
    <Rule Id="C28196" Action="Warning" />
    <Rule Id="C28197" Action="Warning" />
    <Rule Id="C28198" Action="Warning" />
    <Rule Id="C28199" Action="Warning" />
    <Rule Id="C28202" Action="Warning" />
    <Rule Id="C28203" Action="Warning" />
    <Rule Id="C28204" Action="Warning" />
    <Rule Id="C28205" Action="Warning" />
    <Rule Id="C28206" Action="Warning" />
    <Rule Id="C28207" Action="Warning" />
    <Rule Id="C28208" Action="Warning" />
    <Rule Id="C28209" Action="Warning" />
    <Rule Id="C28210" Action="Warning" />
    <Rule Id="C28211" Action="Warning" />
    <Rule Id="C28212" Action="Warning" />
    <Rule Id="C28213" Action="Warning" />
    <Rule Id="C28214" Action="Warning" />
    <Rule Id="C28215" Action="Warning" />
    <Rule Id="C28216" Action="Warning" />
    <Rule Id="C28217" Action="Warning" />
    <Rule Id="C28218" Action="Warning" />
    <Rule Id="C28219" Action="Warning" />
    <Rule Id="C28220" Action="Warning" />
    <Rule Id="C28221" Action="Warning" />
    <Rule Id="C28222" Action="Warning" />
    <Rule Id="C28223" Action="Warning" />
    <Rule Id="C28224" Action="Warning" />
    <Rule Id="C28225" Action="Warning" />
    <Rule Id="C28226" Action="Warning" />
    <Rule Id="C28227" Action="Warning" />
    <Rule Id="C28228" Action="Warning" />
    <Rule Id="C28229" Action="Warning" />
    <Rule Id="C28230" Action="Warning" />
    <Rule Id="C28231" Action="Warning" />
    <Rule Id="C28232" Action="Warning" />
    <Rule Id="C28233" Action="Warning" />
    <Rule Id="C28234" Action="Warning" />
    <Rule Id="C28235" Action="Warning" />
    <Rule Id="C28236" Action="Warning" />
    <Rule Id="C28237" Action="Warning" />
    <Rule Id="C28238" Action="Warning" />
    <Rule Id="C28239" Action="Warning" />
    <Rule Id="C28240" Action="Warning" />
    <Rule Id="C28241" Action="Warning" />
    <Rule Id="C28243" Action="Warning" />
    <Rule Id="C28244" Action="Warning" />
    <Rule Id="C28245" Action="Warning" />
    <Rule Id="C28246" Action="Warning" />
    <Rule Id="C28250" Action="Warning" />
    <Rule Id="C28251" Action="Warning" />
    <Rule Id="C28252" Action="Warning" />
    <Rule Id="C28253" Action="Warning" />
    <Rule Id="C28254" Action="Warning" />
    <Rule Id="C28260" Action="Warning" />
    <Rule Id="C28262" Action="Warning" />
    <Rule Id="C28263" Action="Warning" />
    <Rule Id="C28266" Action="Warning" />
    <Rule Id="C28267" Action="Warning" />
    <Rule Id="C28272" Action="Warning" />
    <Rule Id="C28273" Action="Warning" />
    <Rule Id="C28275" Action="Warning" />
    <Rule Id="C28278" Action="Warning" />
    <Rule Id="C28279" Action="Warning" />
    <Rule Id="C28280" Action="Warning" />
    <Rule Id="C28282" Action="Warning" />
    <Rule Id="C28283" Action="Warning" />
    <Rule Id="C28284" Action="Warning" />
    <Rule Id="C28285" Action="Warning" />
    <Rule Id="C28286" Action="Warning" />
    <Rule Id="C28287" Action="Warning" />
    <Rule Id="C28288" Action="Warning" />
    <Rule Id="C28289" Action="Warning" />
    <Rule Id="C28290" Action="Warning" />
    <Rule Id="C28291" Action="Warning" />
    <Rule Id="C28300" Action="Warning" />
    <Rule Id="C28301" Action="Warning" />
    <Rule Id="C28302" Action="Warning" />
    <Rule Id="C28303" Action="Warning" />
    <Rule Id="C28304" Action="Warning" />
    <Rule Id="C28305" Action="Warning" />
    <Rule Id="C28306" Action="Warning" />
    <Rule Id="C28307" Action="Warning" />
    <Rule Id="C28308" Action="Warning" />
    <Rule Id="C28309" Action="Warning" />
    <Rule Id="C28350" Action="Warning" />
    <Rule Id="C28351" Action="Warning" />
    <Rule Id="C28601" Action="Warning" />
    <Rule Id="C28602" Action="Warning" />
    <Rule Id="C28604" Action="Warning" />
    <Rule Id="C28615" Action="Warning" />
    <Rule Id="C28616" Action="Warning" />
    <Rule Id="C28617" Action="Warning" />
    <Rule Id="C28623" Action="Warning" />
    <Rule Id="C28624" Action="Warning" />
    <Rule Id="C28625" Action="Warning" />
    <Rule Id="C28636" Action="Warning" />
    <Rule Id="C28637" Action="Warning" />
    <Rule Id="C28638" Action="Warning" />
    <Rule Id="C28639" Action="Warning" />
    <Rule Id="C28640" Action="Warning" />
    <Rule Id="C28645" Action="Warning" />
    <Rule Id="C28648" Action="Warning" />
    <Rule Id="C28649" Action="Warning" />
    <Rule Id="C28650" Action="Warning" />
    <Rule Id="C28714" Action="Warning" />
    <Rule Id="C28715" Action="Warning" />
    <Rule Id="C28716" Action="Warning" />
    <Rule Id="C28717" Action="Warning" />
    <Rule Id="C28719" Action="Warning" />
    <Rule Id="C28720" Action="Warning" />
    <Rule Id="C28721" Action="Warning" />
    <Rule Id="C28726" Action="Warning" />
    <Rule Id="C28727" Action="Warning" />
    <Rule Id="C28730" Action="Warning" />
    <Rule Id="C28735" Action="Warning" />
    <Rule Id="C28736" Action="Warning" />
    <Rule Id="C28750" Action="Warning" />
    <Rule Id="C28751" Action="Warning" />
    <Rule Id="C33001" Action="Warning" />
    <Rule Id="C33004" Action="Warning" />
    <Rule Id="C33005" Action="Warning" />
    <Rule Id="C33010" Action="Warning" />
    <Rule Id="C33011" Action="Warning" />
    <Rule Id="C33020" Action="Warning" />
    <Rule Id="C33022" Action="Warning" />
    <Rule Id="C6001" Action="Warning" />
    <Rule Id="C6011" Action="Warning" />
    <Rule Id="C6014" Action="Warning" />
    <Rule Id="C6029" Action="Warning" />
    <Rule Id="C6031" Action="Warning" />
    <Rule Id="C6053" Action="Warning" />
    <Rule Id="C6054" Action="Warning" />
    <Rule Id="C6059" Action="Warning" />
    <Rule Id="C6063" Action="Warning" />
    <Rule Id="C6064" Action="Warning" />
    <Rule Id="C6066" Action="Warning" />
    <Rule Id="C6067" Action="Warning" />
    <Rule Id="C6101" Action="Warning" />
    <Rule Id="C6200" Action="Warning" />
    <Rule Id="C6201" Action="Warning" />
    <Rule Id="C6211" Action="Warning" />
    <Rule Id="C6214" Action="Warning" />
    <Rule Id="C6215" Action="Warning" />
    <Rule Id="C6216" Action="Warning" />
    <Rule Id="C6217" Action="Warning" />
    <Rule Id="C6219" Action="Warning" />
    <Rule Id="C6220" Action="Warning" />
    <Rule Id="C6221" Action="Warning" />
    <Rule Id="C6225" Action="Warning" />
    <Rule Id="C6226" Action="Warning" />
    <Rule Id="C6230" Action="Warning" />
    <Rule Id="C6235" Action="Warning" />
    <Rule Id="C6236" Action="Warning" />
    <Rule Id="C6237" Action="Warning" />
    <Rule Id="C6239" Action="Warning" />
    <Rule Id="C6240" Action="Warning" />
    <Rule Id="C6242" Action="Warning" />
    <Rule Id="C6244" Action="Warning" />
    <Rule Id="C6246" Action="Warning" />
    <Rule Id="C6248" Action="Warning" />
    <Rule Id="C6250" Action="Warning" />
    <Rule Id="C6255" Action="Warning" />
    <Rule Id="C6258" Action="Warning" />
    <Rule Id="C6259" Action="Warning" />
    <Rule Id="C6260" Action="Warning" />
    <Rule Id="C6262" Action="Warning" />
    <Rule Id="C6263" Action="Warning" />
    <Rule Id="C6268" Action="Warning" />
    <Rule Id="C6269" Action="Warning" />
    <Rule Id="C6270" Action="Warning" />
    <Rule Id="C6271" Action="Warning" />
    <Rule Id="C6272" Action="Warning" />
    <Rule Id="C6273" Action="Warning" />
    <Rule Id="C6274" Action="Warning" />
    <Rule Id="C6276" Action="Warning" />
    <Rule Id="C6277" Action="Warning" />
    <Rule Id="C6278" Action="Warning" />
    <Rule Id="C6279" Action="Warning" />
    <Rule Id="C6280" Action="Warning" />
    <Rule Id="C6281" Action="Warning" />
    <Rule Id="C6282" Action="Warning" />
    <Rule Id="C6283" Action="Warning" />
    <Rule Id="C6284" Action="Warning" />
    <Rule Id="C6285" Action="Warning" />
    <Rule Id="C6286" Action="Warning" />
    <Rule Id="C6287" Action="Warning" />
    <Rule Id="C6288" Action="Warning" />
    <Rule Id="C6289" Action="Warning" />
    <Rule Id="C6290" Action="Warning" />
    <Rule Id="C6291" Action="Warning" />
    <Rule Id="C6292" Action="Warning" />
    <Rule Id="C6293" Action="Warning" />
    <Rule Id="C6294" Action="Warning" />
    <Rule Id="C6295" Action="Warning" />
    <Rule Id="C6296" Action="Warning" />
    <Rule Id="C6297" Action="Warning" />
    <Rule Id="C6298" Action="Warning" />
    <Rule Id="C6299" Action="Warning" />
    <Rule Id="C6302" Action="Warning" />
    <Rule Id="C6303" Action="Warning" />
    <Rule Id="C6305" Action="Warning" />
    <Rule Id="C6306" Action="Warning" />
    <Rule Id="C6308" Action="Warning" />
    <Rule Id="C6310" Action="Warning" />
    <Rule Id="C6312" Action="Warning" />
    <Rule Id="C6313" Action="Warning" />
    <Rule Id="C6314" Action="Warning" />
    <Rule Id="C6315" Action="Warning" />
    <Rule Id="C6316" Action="Warning" />
    <Rule Id="C6317" Action="Warning" />
    <Rule Id="C6318" Action="Warning" />
    <Rule Id="C6319" Action="Warning" />
    <Rule Id="C6320" Action="Warning" />
    <Rule Id="C6322" Action="Warning" />
    <Rule Id="C6323" Action="Warning" />
    <Rule Id="C6324" Action="Warning" />
    <Rule Id="C6326" Action="Warning" />
    <Rule Id="C6328" Action="Warning" />
    <Rule Id="C6329" Action="Warning" />
    <Rule Id="C6330" Action="Warning" />
    <Rule Id="C6331" Action="Warning" />
    <Rule Id="C6332" Action="Warning" />
    <Rule Id="C6333" Action="Warning" />
    <Rule Id="C6334" Action="Warning" />
    <Rule Id="C6335" Action="Warning" />
    <Rule Id="C6336" Action="Warning" />
    <Rule Id="C6340" Action="Warning" />
    <Rule Id="C6381" Action="Warning" />
    <Rule Id="C6383" Action="Warning" />
    <Rule Id="C6384" Action="Warning" />
    <Rule Id="C6385" Action="Warning" />
    <Rule Id="C6386" Action="Warning" />
    <Rule Id="C6387" Action="Warning" />
    <Rule Id="C6388" Action="Warning" />
    <Rule Id="C6389" Action="Warning" />
    <Rule Id="C6400" Action="Warning" />
    <Rule Id="C6401" Action="Warning" />
    <Rule Id="C6411" Action="Warning" />
    <Rule Id="C6412" Action="Warning" />
    <Rule Id="C6500" Action="Warning" />
    <Rule Id="C6501" Action="Warning" />
    <Rule Id="C6503" Action="Warning" />
    <Rule Id="C6504" Action="Warning" />
    <Rule Id="C6505" Action="Warning" />
    <Rule Id="C6506" Action="Warning" />
    <Rule Id="C6508" Action="Warning" />
    <Rule Id="C6509" Action="Warning" />
    <Rule Id="C6510" Action="Warning" />
    <Rule Id="C6511" Action="Warning" />
    <Rule Id="C6513" Action="Warning" />
    <Rule Id="C6514" Action="Warning" />
    <Rule Id="C6515" Action="Warning" />
    <Rule Id="C6516" Action="Warning" />
    <Rule Id="C6517" Action="Warning" />
    <Rule Id="C6518" Action="Warning" />
    <Rule Id="C6522" Action="Warning" />
    <Rule Id="C6525" Action="Warning" />
    <Rule Id="C6527" Action="Warning" />
    <Rule Id="C6530" Action="Warning" />
    <Rule Id="C6540" Action="Warning" />
    <Rule Id="C6551" Action="Warning" />
    <Rule Id="C6552" Action="Warning" />
    <Rule Id="C6701" Action="Warning" />
    <Rule Id="C6702" Action="Warning" />
    <Rule Id="C6703" Action="Warning" />
    <Rule Id="C6704" Action="Warning" />
    <Rule Id="C6705" Action="Warning" />
    <Rule Id="C6706" Action="Warning" />
    <Rule Id="C6707" Action="Warning" />
    <Rule Id="C6993" Action="Warning" />
    <Rule Id="C6995" Action="Warning" />
    <Rule Id="C6997" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Analyzers" RuleNamespace="Microsoft.CodeAnalysis.Analyzers">
    <Rule Id="RS1007" Action="Warning" />
    <Rule Id="RS1015" Action="Warning" />
    <Rule Id="RS1020" Action="Warning" />
    <Rule Id="RS1028" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS9018" Action="Warning" />
    <Rule Id="CS9019" Action="Warning" />
    <Rule Id="CS9020" Action="Warning" />
    <Rule Id="CS9021" Action="Warning" />
    <Rule Id="CS9022" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.CSharp.NetAnalyzers">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1200" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1311" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1805" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA1841" Action="None" />
    <Rule Id="CA1845" Action="None" />
    <Rule Id="CA1855" Action="None" />
    <Rule Id="CA2014" Action="None" />
    <Rule Id="CA2016" Action="None" />
    <Rule Id="CA2020" Action="None" />
    <Rule Id="CA2252" Action="None" />
    <Rule Id="CA2260" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1069" Action="None" />
    <Rule Id="CA1070" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1310" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1416" Action="None" />
    <Rule Id="CA1417" Action="None" />
    <Rule Id="CA1418" Action="None" />
    <Rule Id="CA1419" Action="None" />
    <Rule Id="CA1420" Action="None" />
    <Rule Id="CA1421" Action="None" />
    <Rule Id="CA1422" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1727" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1826" Action="None" />
    <Rule Id="CA1827" Action="None" />
    <Rule Id="CA1828" Action="None" />
    <Rule Id="CA1829" Action="None" />
    <Rule Id="CA1830" Action="None" />
    <Rule Id="CA1831" Action="None" />
    <Rule Id="CA1832" Action="None" />
    <Rule Id="CA1833" Action="None" />
    <Rule Id="CA1834" Action="None" />
    <Rule Id="CA1835" Action="None" />
    <Rule Id="CA1836" Action="None" />
    <Rule Id="CA1837" Action="None" />
    <Rule Id="CA1838" Action="None" />
    <Rule Id="CA1839" Action="None" />
    <Rule Id="CA1840" Action="None" />
    <Rule Id="CA1842" Action="None" />
    <Rule Id="CA1843" Action="None" />
    <Rule Id="CA1844" Action="None" />
    <Rule Id="CA1846" Action="None" />
    <Rule Id="CA1847" Action="None" />
    <Rule Id="CA1848" Action="None" />
    <Rule Id="CA1850" Action="None" />
    <Rule Id="CA1852" Action="None" />
    <Rule Id="CA1853" Action="None" />
    <Rule Id="CA1854" Action="None" />
    <Rule Id="CA2009" Action="None" />
    <Rule Id="CA2011" Action="None" />
    <Rule Id="CA2012" Action="None" />
    <Rule Id="CA2013" Action="None" />
    <Rule Id="CA2015" Action="None" />
    <Rule Id="CA2017" Action="None" />
    <Rule Id="CA2018" Action="None" />
    <Rule Id="CA2019" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2215" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA2244" Action="None" />
    <Rule Id="CA2245" Action="None" />
    <Rule Id="CA2246" Action="None" />
    <Rule Id="CA2247" Action="None" />
    <Rule Id="CA2248" Action="None" />
    <Rule Id="CA2249" Action="None" />
    <Rule Id="CA2250" Action="None" />
    <Rule Id="CA2251" Action="None" />
    <Rule Id="CA2253" Action="None" />
    <Rule Id="CA2254" Action="None" />
    <Rule Id="CA2255" Action="None" />
    <Rule Id="CA2256" Action="None" />
    <Rule Id="CA2257" Action="None" />
    <Rule Id="CA2258" Action="None" />
    <Rule Id="CA2259" Action="None" />
    <Rule Id="CA3061" Action="None" />
    <Rule Id="CA3075" Action="None" />
    <Rule Id="CA3076" Action="None" />
    <Rule Id="CA3077" Action="None" />
    <Rule Id="CA3147" Action="None" />
    <Rule Id="CA5350" Action="None" />
    <Rule Id="CA5351" Action="None" />
    <Rule Id="CA5359" Action="None" />
    <Rule Id="CA5360" Action="None" />
    <Rule Id="CA5363" Action="None" />
    <Rule Id="CA5364" Action="None" />
    <Rule Id="CA5365" Action="None" />
    <Rule Id="CA5366" Action="None" />
    <Rule Id="CA5368" Action="None" />
    <Rule Id="CA5369" Action="None" />
    <Rule Id="CA5370" Action="None" />
    <Rule Id="CA5371" Action="None" />
    <Rule Id="CA5372" Action="None" />
    <Rule Id="CA5373" Action="None" />
    <Rule Id="CA5374" Action="None" />
    <Rule Id="CA5379" Action="None" />
    <Rule Id="CA5384" Action="None" />
    <Rule Id="CA5385" Action="None" />
    <Rule Id="CA5397" Action="None" />
  </Rules>
</RuleSet>