* @Aiko-IT-Systems/discatsharp @Lulalaby
/DisCatSharp.Common/ @Lulalaby
/DisCatSharp.Docs/dcs/ @Lulalaby
/DisCatSharp.Docs/docfx.json @Lulalaby
*.yml @Lulalaby
*.ps1 @Lulalaby
*.targets @Lulalaby
LICENSE.md @Lulalaby
README.md @Lulalaby
/.github/ @Lulalaby
