
### VisualStudio ###
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results & artifacts
[Dd]ebug*/
[Rr]elease*/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/
build/
dcs-artifacts/
AppPackages/
BundleArtifacts/
publish/
exported_templates/
docfx/
7zip/
DisCatSharp.Docs/_site/
_site

# NuGet & Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Test & Coverage
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.coverage
*.coveragexml
*.dotCover
FakesAssemblies/
*.mm.*
AutoTest.Net/
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
_Chutzpah*

# Logs & Temp
*.log
*.tmp
*.tmp_proj
*.cache
*.cachefile
*.pidb
*.svclog
*.scc
*.builds
*.dbmdl
*.jfm
*.publishsettings
*.pfx
*.dbproj.schemaview
*.plg
*.opt
*.vbw
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
_ReSharper.*

# Miscellaneous
node_modules/
bld/
dlldata.c
project.lock.json
project.fragment.lock.json
**/Properties/launchSettings.json
*.rdl.data
*.bim.layout
*.bim_*.settings
*.GhostDoc.xml
.ntvs_analysis.dat
*.pyc
__pycache__/
*.pcm
ffmpeg.exe
config.json
appveyor-test.ps1
*.diff
*.patch
*.dgml
.vscode/
.vs/
package-lock.json
git-filter-repo
.manifest

# Archive & Executable files
*.zip
*.tar
*.tar.*
*.gz
*.xz
*.7z
*.exe
*.dll
*.so
*.dylib
*.bin
*.obj
*.lib
*.a
*.o

# Ignore thumbnails created by Windows
Thumbs.db

# Docs build cache (Temporary Disabled)
DisCatSharp.Docs/obj/.cache/build/
**/obj/.cache/build/

# Ignore Copilot catgirl instructions
.github/instructions/lala.instructions.md

# Copilot
copilot-resources/
DisCatSharp.Experimental/openapi_preview.json
