# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

#### Core EditorConfig Options ####

# All files
[*]

# General
charset = utf-8
trim_trailing_whitespace = true

# Indentation and spacing
indent_size = 4
indent_style =tab
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = true
dotnet_style_readonly_field=true:suggestion

# Project files
[*.{csproj,targets,yml}]
indent_size = 2

[NuGet.config]
indent_size = 2

# Solution files
[*.sln]
indent_style = tab
tab_width = 4
