.collapse-container>:nth-child(odd) {
	padding: 5px;
	color: #270235;
	background-color: #19bfe6;
    border: 1px solid black;
    margin: auto;
}

.collapse-container>:nth-child(even) {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #4517ea;
	box-shadow: 2px 2px 2px 2px #e04848;
	margin-top: 10px;
	padding: 5px;
}
.collapse-container>:nth-child(even) p {
    padding: 0px 5px;
}

.collapse-container>:nth-child(odd):hover {
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}
