{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^src/styles/.*/)}}
{{!include(/^src/scripts/.*/)}}
{{!include(/^src/scripts/highlight/.*/)}}
{{!include(/^src/scripts/highlight/languages/.*/)}}
{{!include(/^src/fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.png)}}
{{!include(logobig.png)}}
{{!include(logo_black.png)}}
{{!include(android-icon-36x36.png)}}
{{!include(android-icon-48x48.png)}}
{{!include(android-icon-72x72.png)}}
{{!include(android-icon-96x96.png)}}
{{!include(android-icon-144x144.png)}}
{{!include(android-icon-192x192.png)}}
{{!include(apple-icon-57x57.png)}}
{{!include(apple-icon-60x60.png)}}
{{!include(apple-icon-72x72.png)}}
{{!include(apple-icon-76x76.png)}}
{{!include(apple-icon-114x144.png)}}
{{!include(apple-icon-120x120.png)}}
{{!include(apple-icon-144x144.png)}}
{{!include(apple-icon-152x152.png)}}
{{!include(apple-icon-180x180.png)}}
{{!include(apple-icon-precomposed.png)}}
{{!include(apple-icon.png)}}
{{!include(favicon-16x16.png)}}
{{!include(favicon-32x32.png)}}
{{!include(favicon-96x96.png)}}
{{!include(ms-icon-70x70.png)}}
{{!include(ms-icon-144x144.png)}}
{{!include(ms-icon-150x150.png)}}
{{!include(ms-icon-310x310.png)}}
{{!include(search-stopwords.json)}}
{{!include(manifest.json)}}
{{!include(token.json)}}
{{!include(browserconfig.xml)}}
<!DOCTYPE html>
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    <div id="wrapper">
      <header>
        {{^_disableNavbar}}
        {{>partials/navbar}}
        {{/_disableNavbar}}
        {{^_disableBreadcrumb}}
        {{>partials/breadcrumb}}
        {{/_disableBreadcrumb}}
      </header>
      {{#_enableSearch}}
      <div class="container body-content">
        {{>partials/searchResults}}
      </div>
      {{/_enableSearch}}
      <div role="main" class="container body-content hide-when-search">
      {{^_disableToc}}
        {{>partials/toc}}
        <div class="article row grid-right">
      {{/_disableToc}}
      {{#_disableToc}}
        <div class="article row grid">
        {{/_disableToc}}
          {{#_disableAffix}}
          <div class="col-md-12">
          {{/_disableAffix}}
          {{^_disableAffix}}
          <div class="col-md-10">
          {{/_disableAffix}}
            <article class="content wrap" id="_content" data-uid="{{uid}}">
                {{!body}}
            </article>
          </div>
          {{^_disableAffix}}
          {{>partials/affix}}
          {{/_disableAffix}}
        </div>
      </div>
      {{^_disableFooter}}
      {{>partials/footer}}
      {{/_disableFooter}}
    </div>
    {{>partials/scripts}}
  </body>
</html>
