#logo
{
	max-height: 50px;
}

.navbar-default {
    background-color: #2f3136;
}

h1.logo-center
{
	text-align: center;
	margin-top: 0;
}

article p > img
{
	box-shadow: 3px 3px 6px #111;
	border-radius: 3px;
	border: 1px solid #222;
}

h1.delet-this
{
	display: none;
}
