name: "Build"
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        dotnet: [6.0.202]
    runs-on: ${{ matrix.os }}
    name: Build library
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - name: Restore dependencies
      run: dotnet restore
    - name: Build library
      run: dotnet build -c Release
    - name: Test library
      run: dotnet test --verbosity normal -c Release
